.image-gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.imgs-gallery {
    width: 300px;
    height: 300px;
    object-fit: cover;
}